* {
    margin: 0;
    padding: 0;
}
#game {
    width: 100vw;
    height: 75vw;
    max-height: 100vh;
    max-width: 133.33vh;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
#myCanvas {
    width: 90%;
    height: 90%;
    background-image: url("../img/background.jpeg");
    background-size: 1000px 500px;
    background-repeat: no-repeat;
    background-color: rgb(142, 85, 171);
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border: 1px solid;
    border-radius: 10px;
    border-color: #000000;
}


